<div class="products-bar">
  <div class="product-card">
    <div class="img">img goes here</div>
    <div class="product-details">
      <span class="product-title">Product 1</span>
      <span class="product-description">this is a wonderful product!</span>
    </div>
  </div>

  <div class="product-card">
    <div class="img">img goes here</div>
    <div class="product-details">
      <span class="product-title">Another Product</span>
      <span class="product-description">this is an imaginary product!</span>
    </div>
  </div>

  <div class="product-card">
    <div class="img">img goes here</div>
    <div class="product-details">
      <span class="product-title">The next product</span>
      <span class="product-description">this is a terrible product!</span>
    </div>
  </div>

  <div class="product-card">
    <div class="img">img goes here</div>
    <div class="product-details">
      <span class="product-title">Best-selling Product</span>
      <span class="product-description">this product is not for sale!</span>
    </div>
  </div>
</div>
