<div class="products-bar">
  <div class="product-card">
    I'm a product
  </div>
  <div class="product-card">
    I'm a product
  </div>
  <div class="product-card">
    I'm a product
  </div>
  <div class="product-card">
    I'm a product
  </div>
</div>
